body {
    margin: 0;
    background-color: whitesmoke;
    color: whitesmoke;
    overflow: hidden;
    font-family: 'Montserrat';
    letter-spacing: 1px;
}

a {
    color: lightblue;
}

.page {
    display: block;
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 0px 30px 0px black inset;
}

.box {
    display: block;
    position: absolute;
    background-color: #404040;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 30px 0px black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 2.5vh;
    height: 15%;
    width: 100vw;
}

.title h3 {
    padding-top: 1vh;
    padding-left: 12vh;
}


.manifesto {
    position: fixed;
    top: 15vh;
    width: 100vw;
    height: 85vh;
}


.homebtn {
    position: fixed;
    height: 10vh;
    width: 10vh;
    top: 2vh;
    left: 2vh;
    background-image: url('../home.png');
    background-size: contain;
    background-position: center;
    border: none;
    background-color: transparent;
}

.footer {
    font-size: 2vh;
    bottom: 0vh;
    padding-bottom: 2vh;
    height: 10%;
    width: 100%;
}

.button {
    top: 30%;
    width: 20vw;
    height: 20vh;
    background-color: black;
    transform: translateY(0%);
    transition: 0.5s transform ease;
}

.button-label {
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 300%;
    box-shadow: 0px 0px 50px 0px black inset;
    color: white;
    background-color: darkslategrey;
    opacity: 0.8;
    font-size: 2vw;
    text-shadow: 0px 0px 30px black;
}

.box[data-button="source"] {
    left: 10%;
    background-image: url('https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png');
}

.box[data-button="blog"] {
    left: 40%;
    background-image: url('https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/rss-512.png');
}

.box[data-button="demo"] {
    right: 10%;
    background-image: url('https://www.informationmapping.com/images/icon-laptop.png');
}

.imgbg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    /*max-width: 50%;*/
    /*position: fixed;*/
    /*max-height: 80vh;*/
    margin-top: 15vh;
    opacity: 0.5;
}